.item{
    height: 350px;
    width: 350px;
    margin: 0px;
}
.item img{
    margin:10px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
}

#indexGallery {
    border-radius: 25px;
    background: lightgrey;
    margin: 20px;
    padding: 10px; 
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.lg-backdrop{
    background-color: rgba(0, 0, 0, 0.8) !important;
}

#googleMap {
    width: 90vw;
    height: 80vh;
    margin-left: 20px;
}

#mapGallery {
    display: none;
}